### 리스트

In [2]:
# 리스트 생성 1 : 빈 리스트

# 함수로 만들기
l = list()
print(l)
print(type(l))

# 기호로 만들기
l = []
print(l)
print(type(l))

[]
<class 'list'>
[]
<class 'list'>

In [6]:
# 리스트 생성 2 : 값이 있는 리스트
# 리스트 값을 직접 지정
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
print(l)
print(type(l))

# 리스트 값을 함수로 지정
l = list(['핫도그', '햄버거', '샌드위치', '피자', '타코'])
print(l)
print(type(l))

# 
l = list('핫도그')
print(l)
print(type(l))

['핫도그', '햄버거', '샌드위치', '피자', '타코']
<class 'list'>
['핫도그', '햄버거', '샌드위치', '피자', '타코']
<class 'list'>
['핫', '도', '그']
<class 'list'>

In [1]:
# 리스트 항목 접근
# 리스트는 순서 있고 인덱싱 가능
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
print(l[1])
print(l[-1])

# 햄버거를 음수 인덱스로 접근하면? 
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
print(l[-4])

햄버거
타코
햄버거

> 슬라이싱

In [6]:
# 범위 인덱스 : 슬라이싱(slicing)
# [시작 : 끝 : 스텝] ~ 시작 인덱스부터 끝-1 인덱스까지 스텝만큼 움직이면서 슬라이싱

l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
print(l[2:5])
print(l[:4])
print(l[3:])
print(l[-4:-1])

['샌드위치', '피자', '타코']
['핫도그', '햄버거', '샌드위치', '피자']
['피자', '타코']
['햄버거', '샌드위치', '피자']

In [5]:
# 문제 : 인덱스 0을 포함해 짝수 위치의 데이터 항목만 출력
print(l[::2])

['핫도그', '샌드위치', '타코']

> 값 변경

In [7]:
# 데이터 항목 값 변경 
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
l[0] = '호떡'
print(l)

['호떡', '햄버거', '샌드위치', '피자', '타코']

> 값 접근

In [13]:
# 반복문을 사용한 데이터 항목 접근
for food in l:
    print(f'{food}은(는) {type(food)} 타입')

호떡은(는) <class 'str'> 타입
햄버거은(는) <class 'str'> 타입
샌드위치은(는) <class 'str'> 타입
피자은(는) <class 'str'> 타입
타코은(는) <class 'str'> 타입

In [22]:
# 리스트의 데이터 항목은 여러가지 데이터 타입이 혼용될 수 있음
mixed_list = [ 1, 3.14, '홍길동', True, None, 3 + 2j, ['마라탕', '꿔바로우'] ]
for item in mixed_list:
    print(f'{item} 은(는) {type(item)} 타입')

1 은(는) <class 'int'> 타입
3.14 은(는) <class 'float'> 타입
홍길동 은(는) <class 'str'> 타입
True 은(는) <class 'bool'> 타입
None 은(는) <class 'NoneType'> 타입
(3+2j) 은(는) <class 'complex'> 타입
['마라탕', '꿔바로우'] 은(는) <class 'list'> 타입

> 값 검사

In [23]:
# 데이터 항목 존재 검사
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
if '햄버거' in l:
    print("음식 리스트에 있음")

음식 리스트에 있음

In [28]:
# 문제 : 리스트에 서브리스트 존재 여부 검사 가능한가?
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
if ['핫도그', '햄버거'] in l:
    print("음식 리스트에 있음")

# 검사할 수 있는 방법은?
if '핫도그' and '햄버거' in l:
    print("음식 리스트에 있음")

음식 리스트에 있음

> 리스트 길이

In [29]:
# 데이터 항목 개수 (리스트 길이)
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
print(len(l))

5

> 데이터 항목 추가

In [30]:
# 데이터 항목 추가: 디폴드로 맨 뒤에 append()
l = ['핫도그', '햄버거', '샌드위치']
l.append("피자")
print(l)

['핫도그', '햄버거', '샌드위치', '피자']

In [33]:
# 데이터 항목 추가: 특정 인덱스에 insert()
l = ['핫도그', '햄버거', '샌드위치']
l.insert(1, "피자")
print(l)

4706999104
['핫도그', '피자', '햄버거', '샌드위치']
4706999104

In [34]:
# 리스트에 데이터 항목이 추가되어도 주소는 바뀌지 않음
l = ['핫도그', '햄버거', '샌드위치']
print(id(l))
l.insert(1, "피자")
print(l)
print(id(l))

4421933440
['핫도그', '피자', '햄버거', '샌드위치']
4421933440

> 데이터 항목 삭제

In [35]:
# 데이터 항목 삭제: 특정 항목 지정, 반환값 없음
l = ['핫도그', '햄버거', '샌드위치']
l.remove("핫도그")
print(l)

# 이건 안됨 아래 블럭을 써야함
# l.remove(0)

['햄버거', '샌드위치']

In [37]:
# 데이터 항목 삭제: 특정 위치 항목(인덱스 지정 O) 또는
# 맨 마지막 항목(인덱스 지정 X), 반환값 있음
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']

# 인덱스 지정: 지정한 인덱스의 데이터 항목 삭제
item = l.pop(1)
print(f'pop(1)의 결과 {item},\npop(1) 후 리스트 l의 상태{l}')

# 인덱스 지정 안함: 마지막 데이터 항목 삭제
item = l.pop()
print(f'pop()의 결과 {item},\npop() 후 리스트 l의 상태{l}')

pop(1)의 결과 햄버거,
pop(1) 후 리스트 l의 상태['핫도그', '샌드위치', '피자', '타코']
pop()의 결과 타코,
pop() 후 리스트 l의 상태['핫도그', '샌드위치', '피자']

> del

In [38]:
# 데이터 항목 삭제: 특정 위치 항목(인덱스 지정 O) 또는 리스트 자체(인덱스 지정 x)
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
del l[0]
print(l)

['햄버거', '샌드위치', '피자', '타코']

In [39]:
del l # 주의 : 삭제 후 변수 l 없어짐, 변수 l 참조하면 에러 발생
print(l)

NameError: name 'l' is not defined

In [40]:
# 문제: del은 리스트에 대해서만 작동하는가?
# 모든 변수에 대해 동작
x = 10
print(x)
del x
#print(x)

10

> clear

In [43]:
# 데이터 항목 삭제: 전체 지우고 변수는 유지
l = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
l.clear()
print(l)

[]

In [44]:
# 문제 : 리스트가 []와 None의 차이점?
# 빈 리스트는 있어도 None 리스트는 없다
l = []
print(type(l))

l = None
print(type(l))

<class 'list'>
<class 'NoneType'>

> 얕은 복사

In [45]:
# 리스트 복사: 대입(얕은 복사, shallow copy)
l_org = ['핫도그', '햄버거', '샌드위치', '피자', '타코']
l_cpy = l_org
print(f'l_cpy = l_org 실행 후 l_org의 값 {l_org}')
print(f'l_cpy = l_org 실행 후 l_cpy의 값 {l_cpy}')

print(f'l_cpy = l_org 실행 후 l_org의 주소 {id(l_org)}')
print(f'l_cpy = l_org 실행 후 l_cpy의 주소 {id(l_cpy)}')

l_cpy = l_org 실행 후 l_org의 값 ['핫도그', '햄버거', '샌드위치', '피자', '타코']
l_cpy = l_org 실행 후 l_cpy의 값 ['핫도그', '햄버거', '샌드위치', '피자', '타코']
l_cpy = l_org 실행 후 l_org의 주소 4730041344
l_cpy = l_org 실행 후 l_cpy의 주소 4730041344

In [46]:
# 해보기 : 위 코드에서 l_org의 '핫도그'를 '호떡'으로 바꾼다면?
# 결론 : l_cpy = l_org 한 것은 복사한 게 아님
l_org[0] = '호떡'
print(l_org)
print(l_cpy)

['호떡', '햄버거', '샌드위치', '피자', '타코']
['호떡', '햄버거', '샌드위치', '피자', '타코']

In [50]:
l_org = [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
l_cpy = l_org.copy()

print(f'copy() 실행 후 l_org의 값 {l_org}')
print(f'copy() 실행 후 l_cpy의 값 {l_cpy}')

print(f'copy() 실행 후 l_org의 주소 {id(l_org)}')
print(f'copy() 실행 후 l_cpy의 주소 {id(l_cpy)}')

print(f'copy() 실행 후 l_org[0]의 주소 {id(l_org[0])}')
print(f'copy() 실행 후 l_cpy[0]의 주소 {id(l_cpy[0])}')
print(f'copy() 실행 후 l_org[1]의 주소 {id(l_org[1])}')
print(f'copy() 실행 후 l_cpy[1]의 주소 {id(l_cpy[1])}')

copy() 실행 후 l_org의 값 [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
copy() 실행 후 l_cpy의 값 [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
copy() 실행 후 l_org의 주소 4707103616
copy() 실행 후 l_cpy의 주소 4706954368
copy() 실행 후 l_org[0]의 주소 4706930880
copy() 실행 후 l_cpy[0]의 주소 4706930880
copy() 실행 후 l_org[1]의 주소 4707105408
copy() 실행 후 l_cpy[1]의 주소 4707105408

> 깊은 복사

In [52]:
# 리스트 복사: copy 클래스 사용 얕은 복사는 copy.copy() 사용

import copy

l_org = [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
l_cpy = copy.copy(l_org) # 얕은 복사
print(f'copy() 실행 후 l_org의 값 {l_org}')
print(f'copy() 실행 후 l_cpy의 값 {l_cpy}')

print(f'copy() 실행 후 l_org의 주소 {id(l_org)}')
print(f'copy() 실행 후 l_cpy의 주소 {id(l_cpy)}')

print(f'copy() 실행 후 l_org[0]의 주소 {id(l_org[0])}')
print(f'copy() 실행 후 l_cpy[0]의 주소 {id(l_cpy[0])}')
print(f'copy() 실행 후 l_org[1]의 주소 {id(l_org[1])}')
print(f'copy() 실행 후 l_cpy[1]의 주소 {id(l_cpy[1])}')

copy() 실행 후 l_org의 값 [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
copy() 실행 후 l_cpy의 값 [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
copy() 실행 후 l_org의 주소 4707204608
copy() 실행 후 l_cpy의 주소 4706163072
copy() 실행 후 l_org[0]의 주소 4707204864
copy() 실행 후 l_cpy[0]의 주소 4707204864
copy() 실행 후 l_org[1]의 주소 4730046144
copy() 실행 후 l_cpy[1]의 주소 4730046144

In [53]:
# 리스트 복사: copy 클래스 사용 깊은 복사는 copy.deepcopy() 사용
# 깊은 복사를 하기 위해 copy 클래스를 임포트 (얕은 복사는 그냥 .copy()로 하면 됨)
import copy

l_org = [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
l_cpy = copy.deepcopy(l_org) # 깊은 복사
print(f'copy() 실행 후 l_org의 값 {l_org}')
print(f'copy() 실행 후 l_cpy의 값 {l_cpy}')

print(f'copy() 실행 후 l_org의 주소 {id(l_org)}')
print(f'copy() 실행 후 l_cpy의 주소 {id(l_cpy)}')

print(f'copy() 실행 후 l_org[0]의 주소 {id(l_org[0])}')
print(f'copy() 실행 후 l_cpy[0]의 주소 {id(l_cpy[0])}')
print(f'copy() 실행 후 l_org[1]의 주소 {id(l_org[1])}')
print(f'copy() 실행 후 l_cpy[1]의 주소 {id(l_cpy[1])}')

copy() 실행 후 l_org의 값 [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
copy() 실행 후 l_cpy의 값 [['핫도그', '햄버거'], ['샌드위치', '피자', '타코']]
copy() 실행 후 l_org의 주소 4707105408
copy() 실행 후 l_cpy의 주소 4706953856
copy() 실행 후 l_org[0]의 주소 4706930880
copy() 실행 후 l_cpy[0]의 주소 4706894080
copy() 실행 후 l_org[1]의 주소 4706954368
copy() 실행 후 l_cpy[1]의 주소 4730110848

> 두 리스트 합치기(join)

In [55]:
# 두 리스트 합치기: + 연산자 사용
l1 = ['핫도그', '햄버거']
l2 = ['샌드위치', '피자']
l = l2 + l1
print(l)

['샌드위치', '피자', '핫도그', '햄버거']

In [56]:
# extend() 함수 사용
# 단일 리스트로 나옴
l1 = ['핫도그', '햄버거']
l2 = ['샌드위치', '피자']
l = l1
l.extend(l2)
print(l)

['핫도그', '햄버거', '샌드위치', '피자']

In [57]:
# append() 함수 사용
# 초기화를 했어서 2차원이 됨
l1 = ['핫도그', '햄버거']
l2 = ['샌드위치', '피자']
l = []
l.append(l1)
l.append(l2)
print(l)

[['핫도그', '햄버거'], ['샌드위치', '피자']]

In [104]:
# 리스트 합치기: 반복문 활용
l1 = ['핫도그', '햄버거']
l2 = ['샌드위치', '피자']
l = l1
print(l)
for x in l2:
    l.append(x)
print(l)

['핫도그', '햄버거']
['핫도그', '햄버거', '샌드위치', '피자']

In [76]:
# 문제 : 리스트 l1, l2가 다음과 같을 때 'sy'가 들어있는 데이터 항목들만 뽑아서 
# 리스트 l을 구성
l1 = ['busy', 'bass', 'easy', 'as']
l2 = ['buzzy', 'aws', 'symphony', 'fuzy']

l = []
for item in l1 + l2:
    if 'sy' in item:
        l.append(item)

print(l)

['busy', 'easy', 'symphony']

In [103]:
# 문제: 다음과 같은 리스트가 있을 때 데이터 항목의 순서를 거꾸로 만들어라
l = [1, 2, 3, 4, 5]

# for 문으로 해보기
tmp = []
for x in range(len(l)):
    tmp.append(l[len(l)-x-1])
print(tmp)

# reverse() 함수 사용
l = [1, 2, 3, 4, 5]
l = l.reverse()   
print(l)

[5, 4, 3, 2, 1]
None

### 튜플

In [1]:
# 빈 튜플 생성
t = ()
print(type(t))
print(t)

<class 'tuple'>
()

In [2]:
# 빈 튜플 생성
t = tuple()
print(type(t))
print(t)

<class 'tuple'>
()

In [4]:
# tuple() 메소드로 데이터 항목을 갖도록 초기화

# 기준 튜플로 새로운 튜플 생성
t = tuple(("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2))
print(type(t))
print(t)

# 기존 리스트로 새로운 튜플 생성
t = tuple(["김경민", "컴퓨터소프트웨어과", 2, 4.0, 2])
print(type(t))
print(t)

<class 'tuple'>
('김경민', '컴퓨터소프트웨어과', 2, 4.0, 2)
<class 'tuple'>
('김경민', '컴퓨터소프트웨어과', 2, 4.0, 2)

In [9]:
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
print(type(t))
print(t)
print(t[0]) # 김경민 출력
print(t[3]) # 학점 4.0 출력
print(t[-2])

# 인덱스 범위 벗어나서 참조하면? ==> tuple index out of range
print(t[10])

<class 'tuple'>
('김경민', '컴퓨터소프트웨어과', 2, 4.0, 2)
김경민
4.0
4.0

IndexError: tuple index out of range

In [10]:
# t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
# 위 t에서 김경민을 홍길동으로 변경하면? ==> 'tuple' object does not support item assignment
t[0] = '홍길동'

TypeError: 'tuple' object does not support item assignment

In [14]:
# 튜플 기존 데이터 항목 직접 변경 불가: 
# 리스트로 변환 -> 원하는 항목 변경 -> 튜플로 다시 변환
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
print(t) # 변경 전
l = list(t)
l[0] = "홍길동"
t = tuple(l)
print(t) # 변경 후

('김경민', '컴퓨터소프트웨어과', 2, 4.0, 2)
('홍길동', '컴퓨터소프트웨어과', 2, 4.0, 2)

In [16]:
# 튜플 데이터 항목 추가 불가 (수정불가)
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
# t[5] = "재학" # 'tuple' object does not support item assignment
print(t)

('김경민', '컴퓨터소프트웨어과', 2, 4.0, 2)

In [19]:
# 튜플 데이터 -> 리스트로 변경 -> 재학여부 추가 -> 튜플로 변경
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
l = list(t)
l.append("재학")
print(l)
t = tuple(l)
print(t)

['김경민', '컴퓨터소프트웨어과', 2, 4.0, 2, '재학']
('김경민', '컴퓨터소프트웨어과', 2, 4.0, 2, '재학')

In [20]:
# 튜플 인덱싱에 음수 인덱스 사용가능, 단, 인덱싱 가능 범위 내
grade = t[-2]
print(grade)
print(type(grade))

2
<class 'int'>

In [22]:
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
t_sub = t[1:4] # 슬라이스는 4까지 라면 3까지만
print(t_sub)
print(type(t_sub))

('컴퓨터소프트웨어과', 2, 4.0)
<class 'tuple'>

In [23]:
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
t_sub = t[-4:-1] # 이것도 끝 값의 전까지만 '-1' - 1
print(t_sub)
print(type(t_sub))

('컴퓨터소프트웨어과', 2, 4.0)
<class 'tuple'>

In [29]:
# 반복문 이용 튜플 전체 항목 방문
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)

# 튜플 자체를 for문에 활용하는 방법 
# 자바에서는 참조만 가능한 수준이였는데 파이썬에선 이 방법으로 상세한 컨트롤 가능? -> 튜플 메서드 활용 아래 예제
for feild in t:
    print(feild, end=" ")

print()
# 튜플 인덱스 범위를 for문에 활용하는 방법
for index in range(len(t)):
    print(t[index], end=" ")

김경민 컴퓨터소프트웨어과 2 4.0 2
김경민 컴퓨터소프트웨어과 2 4.0 2

In [46]:
# 데이터 항목 존재 검사
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
if "김경민" and "컴퓨터소프트웨어과" in t: # 김경민이 t에 있고, 컴소과가 t에 있으면
    print("김경민 학생이 컴퓨터소프트웨어과에 있습니다")

name = "김경민"
dept = "컴퓨터소프트웨어과"
if name and dept in t:
    print('{}은 {}에 있고, 각각 튜플의 {}번째 {}번째 데이터'.format(name, dept, t.index(name), t.index(dept)))

김경민 학생이 컴퓨터소프트웨어과에 있습니다
김경민은 컴퓨터소프트웨어과에 있고, 각각 튜플의 0번째 1번째 데이터

In [43]:
# 튜플 함수 사용 : count()
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
cnt = t.count("김경민")
print(cnt)

cnt = t.count(2)
print(cnt)

# 튜플 함수 사용: index() : 없는 것 찾으면 예외 발생
index = t.index("컴퓨터소프트웨어과")
print(index)

index = t.index(2)
print(index)

1
2
1
2

In [48]:
# 튜플의 내용을 지우려면?: 값만 지워짐
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)
t = ()
print(t)

# 튜플 삭제: t 존재 자체가 삭제, del 이후 변수 t는 존재하지 않음
del t
# print(t)

()

In [49]:
# 튜플 합치기 : 하나의 튜플로 합쳐짐, db table 컬럼 나누었다 다시 합치는 것과 유사
t1 = ("김경민", "컴퓨터소프트웨어과")
t2 = (2, 4.0, 2)
t = t1 + t2
print(t)

('김경민', '컴퓨터소프트웨어과', 2, 4.0, 2)

In [53]:
# 문제 dept = "인터넷정보" 일 때 
# t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)에 대해서
# dept에 저장된 값의 인덱스를 살펴보고자 한다
# 오류가 발생하지 않도록 안전하게 인덱스를 얻는 방법은?
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)

dept = "인터넷정보"
if dept not in t:
    print(f'튜플에 찾고자하는 {dept}는 없습니다')
else:
    a = t.index(dept)
    print(a)

튜플에 찾고자하는 인터넷정보는 없습니다

In [66]:
# 문제 : t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)에서 
# 데이터 항목의 값 2의 모든 인덱스를 찾아라
t = ("김경민", "컴퓨터소프트웨어과", 2, 4.0, 2)

for index in range(len(t)):
    if  t[index] == 2:
        print(index)

pos = -1
while (2 in t[pos + 1:]):
    pos = t.index(2, pos + 1)
    print(pos)
    pos += 1

2
4
2
4

## 딕셔너리

In [68]:
# 빈 딕셔너리 생성
d = {}
d = dict()

print(type(d))
print(d)

<class 'dict'>
{}

In [71]:
# 초기 데이터 구성
student = {
    "name" : "김경민",
    "dept" : "컴퓨터소프트웨어과",
    "year" : 2,
    "grade" : 4.0
}

print(student)

{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}

In [72]:
student = {
    "19831001" : {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
    }, 
    "20831002" : {
        "name" : "정보통",
        "dept" : "정보통신과",
        "year" : 1,
        "grade" : 3.0
    }
}
print(student)

{'19831001': {'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}, '20831002': {'name': '정보통', 'dept': '정보통신과', 'year': 1, 'grade': 3.0}}

In [73]:
student1 = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}
student2 = {
        "name" : "정보통",
        "dept" : "정보통신과",
        "year" : 1,
        "grade" : 3.0
}
students = {
    "19831001" : student1,
    "20831002" : student2
}
print(student)

{'19831001': {'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}, '20831002': {'name': '정보통', 'dept': '정보통신과', 'year': 1, 'grade': 3.0}}

In [76]:
# 데이터 항목 접근
student = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}

# 인덱스에 키를 넣어서 검색
dept = student["dept"] # 인덱스 값으로 쓸 수 있는 것은 위치값, 이름 가능
print(dept)

# 메서드를 사용해 검색
dept = student.get("dept")
print(dept)

컴퓨터소프트웨어과
컴퓨터소프트웨어과

In [77]:
# 데이터 항목 값 변경
student = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}

student["year"] = 3
print(student)

{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 3, 'grade': 4.0}

In [82]:
# 딕셔너리에 대한 반복문 활용
student = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}

# 모든 키 추출
for key in student:
    print(key)

# 모든 값 추출
for key in student:
    print(student[key])

# print(student.values())
# print(type(student.values()))
for value in student.values() :
    print(value)

name
dept
year
grade
김경민
컴퓨터소프트웨어과
2
4.0
dict_values(['김경민', '컴퓨터소프트웨어과', 2, 4.0])
<class 'dict_values'>
김경민
컴퓨터소프트웨어과
2
4.0

In [86]:
# 모든 키와 값 동시에 추출
# 첫번째는 키, 두번째는 값
print(student.items())
print(type(student.items()))
for key, value in student.items():
    print("{}:{}".format(key,value))

dict_items([('name', '김경민'), ('dept', '컴퓨터소프트웨어과'), ('year', 2), ('grade', 4.0)])
<class 'dict_items'>
name:김경민
dept:컴퓨터소프트웨어과
year:2
grade:4.0

In [87]:
# 키 존재여부 검사
if "dept" in student:
    print("학과 키가 있습니다")

학과 키가 있습니다

In [89]:
# 딕셔너리 길이
print(len(student))
print(len(students))

print(len(students["19831001"]))

4
2
4

In [90]:
# 데이터 항목 추가
student = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}

student["sno"] = "19831099"
print(student)

{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0, 'sno': '19831099'}

In [92]:
student = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0,
        "name" : "홍경민" # key가 중복 지정되면 가장 마지막 지정된 값이 그 key의 값, 중복 없음
}
student["sno"] = "19831099"

# 특정 키를 가지는 데이터항목 삭제
# pop()은 키를 제거하면서 그 값을 리턴
value = student.pop("sno")
print(student)
print(f"제거된 값은 {value}")

{'name': '홍경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}
제거된 값은 19831099

In [93]:
# 마지막 데이터 항목 삭제
student.popitem()
print(student)

{'name': '홍경민', 'dept': '컴퓨터소프트웨어과', 'year': 2}

In [ ]:
# 딕셔너리 완전 삭제, 변수 자체도 사라짐
student = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}
del student

In [94]:
# 딕셔너리 데이터 항목만 삭제
student = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}
student.clear()
print(student)

{}

> 얕은 복사

In [95]:
s1 = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}
s2 = s1
print(s1)
print(s2)

s2["grade"] = 4.5
print(s1)
print(s2)

{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}
{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}
{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.5}
{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.5}

> 깊은 복사

In [99]:
s1 = {
        "name" : "김경민",
        "dept" : "컴퓨터소프트웨어과",
        "year" : 2,
        "grade" : 4.0
}
s2 = dict(s1)
print(s1)
print(s2)
s2["grade"] = 4.5
print(s1)
print(s2)

{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}
{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}
{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.0}
{'name': '김경민', 'dept': '컴퓨터소프트웨어과', 'year': 2, 'grade': 4.5}

## 셋

In [100]:
# 빈 셋 만들기
s = set()
print(type(s))
print(s)

<class 'set'>
set()

In [101]:
# 초기값 가지는 셋 만들기 -> 키 값이 없기 때문에 딕셔너리랑 헷갈리지 않아도 됨
s = {"핫도그", "햄버거", "샌드위치", "피자" , "타코"}
print(type(s))
print(s)

<class 'set'>
{'핫도그', '햄버거', '타코', '피자', '샌드위치'}

In [102]:
# 중복된 초기값 지정한 경우 -> 최근에 갱신한거 하나만 유지
s = {"핫도그", "햄버거", "샌드위치", "햄버거"}
print(s)

{'샌드위치', '핫도그', '햄버거'}

In [ ]:
# 데이터 항목 접근 : 인덱스 사용불가, 접근 순서 없음 -> 딕셔너리도 불가능해서 키 값으로 접근함
s = {"핫도그", "햄버거", "샌드위치", "피자" , "타코"}
# print(s[0])
for e in s:
    print(e)

In [103]:
# 데이터 항목 존재 검사
s = {"핫도그", "햄버거", "샌드위치", "피자" , "타코"}
print("햄버거" in s)
print("서브웨이" in s)

True
False

In [104]:
# 데이터 항목 추가: 추가되는 위치 정해지지 않음. add()는 단일값 추가
s = {"핫도그", "햄버거", "샌드위치", "피자"}
s.add("타코")
print(s)

{'핫도그', '피자', '햄버거', '타코', '샌드위치'}

In [105]:
# 여러개의 데이터 항목 추가: 리스트 추가 update()로 여러값 리스트로 추가
s = {'핫도그', '피자'}
s.update(['타코', '햄버거', '샌드위치'])
print(s)

{'핫도그', '햄버거', '타코', '피자', '샌드위치'}

In [ ]:
# 여러개의 데이터 항목 추가: 리스트에 중복이 있는 경우 하나만 추가
s = {'핫도그', '피자'}
s.update(['타코', '햄버거', '샌드위치'])
print(s)

In [106]:
# 셋의 자료 개수
len(s)

5

In [107]:
# 데이터 항목 삭제: 삭제할 대상이 없으면 예외 발생
s = {"핫도그", "햄버거", "샌드위치", "피자" , "타코"}
s.remove("핫도그")
print(s)

{'햄버거', '타코', '피자', '샌드위치'}

In [108]:
# 데이터항목 삭제: 삭제할 대상이 없어도 예외 발생시키지 않음
s = {"핫도그", "햄버거", "샌드위치", "피자" , "타코"}
s.discard("타코")
print(s)

{'핫도그', '햄버거', '피자', '샌드위치'}

In [109]:
# 데이터 항목 하나 삭제: 어느 것이 삭제될 지는 알 수 없음
s = {"핫도그", "햄버거", "샌드위치", "피자" , "타코"}
s.pop()
print(s)

{'햄버거', '타코', '피자', '샌드위치'}

In [110]:
# 셋 비우기 
s = {"핫도그", "햄버거", "샌드위치", "피자" , "타코"}
s.clear()
print(s)

set()

In [ ]:
# 두 셋 합치기 1
s1 = { }
s2 = { }
s = s1.union(s2)

In [ ]:
# 두 셋 합치기 2
s1 = { }
s2 = { }
s1.update(s2)